body {
    background: black;
        color: white;
}

.carousel-inner, .carousel-item {
    height: 100vh;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
.song-lyrics {
    padding: 10%;
}

h3 {
    font-size: medium;
    font-style: italic;
}

.chorus {
    color:cornflowerblue;
    }

.verse {
    color:burlywood;
}

img {
    opacity: 0.4;
    object-fit: cover;
    z-index: -1 ;
}